@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" class="alert alert-danger m-3" style="display:none" data-nosnippet>
    An unhandled error has occurred. <a href="" class="alert-link">Reload</a>
    <button type="button" class="btn-close float-end" onclick="this.parentElement.style.display='none'"></button>
</div>
